.page{
    width     : 100%;
    height    : 100%;
    overflow-y: scroll; 
    position  : fixed;
    -webkit-overflow-scrolling: touch;
}

.container{
    height          : 100%;
    position        : relative;
    background-color: #ececec;
}