.page{
    width     : 100%;
    height    : 100%;
    overflow-y: scroll; 
    position  : fixed;
    font-size : rem(28);
    color     : _font(colors, main);
    -webkit-overflow-scrolling: touch;
}