.flex{
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    // align-items: stretch;
    &.center{
        text-align: center;
    }
    &.wrap{
        flex-wrap:wrap; 
    }
    &.inline{
        display:inline-flex;
    }
    &.column{
        flex-direction: column;
    } 
    &-item{
        position: relative;
        flex-grow: 1;
        align-self: stretch;
        &.grow0{
            flex-grow: 0;
        }
        &.self-center{
            align-self: center;
        }
    }
    .child{
        flex-grow: 1;
        position: relative;
        align-self: center;
    }
}

.block{
    display: block;
}
.inline-block{
    display: inline-block;
}